In [ ]:
import numpy as np
import pandas as pd

**Data**

In [ ]:
df = pd.read_csv('/content/sonar_data.csv', header=None)

In [ ]:
df.shape # 208 row and 61 columns

(208, 61)

In [ ]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R

In [ ]:
df[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

**Pre porcessing data**

In [ ]:
x = df.drop(columns=60, axis=1) # independent
y = df[60] # target

**Split the data**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
len(X_train)

166

In [ ]:
len(X_test)

42

**Training model**

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
model = LogisticRegression()

In [13]:
model.fit(X_train, Y_train)

LogisticRegression()

**Model accuracy**

In [14]:
model.score(X_test, Y_test)

0.6190476190476191

**Model Evaluation**

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
# accuracy of training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)  # y train is the accurate data
training_data_accuracy

0.8192771084337349

In [17]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test) 
test_data_accuracy

0.6190476190476191

**Test model**

In [10]:
input_data = (0.0307,0.0523,0.0653,0.0521,0.0611,0.0577,0.0665,0.0664,0.1460,0.2792,0.3877,0.4992,0.4981,0.4972,0.5607,0.7339,0.8230,0.9173,0.9975,0.9911,0.8240,0.6498,0.5980,0.4862,0.3150,0.1543,0.0989,0.0284,0.1008,0.2636,0.2694,0.2930,0.2925,0.3998,0.3660,0.3172,0.4609,0.4374,0.1820,0.3376,0.6202,0.4448,0.1863,0.1420,0.0589,0.0576,0.0672,0.0269,0.0245,0.0190,0.0063,0.0321,0.0189,0.0137,0.0277,0.0152,0.0052,0.0121,0.0124,0.0055)
# changing the input_data to a numpy array

In [18]:
len(input_data)

60

In [20]:
input_data_as_numpy_array = np.asarray(input_data) # list to numpy array 

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)# reshape the np array as we are predicting for one instance

prediction = model.predict(input_data_reshaped)
print(prediction)

['R']

In [21]:
if (prediction[0]=='R'):
  print('The object is a Rock')
else:
  print('The object is a mine')

The object is a Rock