Naive assumption that features such as male, class age,cabinfare etc are independent of each other.

In [12]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head(3)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1

In [13]:
# some of these variables are not needed for our data exploration
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head(3)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1

In [14]:
targets = df.Survived
inputs = df.drop('Survived',axis='columns')

In [15]:
# get dummy data for 
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [16]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [17]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0


to check if there is any NA data

In [18]:
inputs.columns[inputs.isna().any()]
# Age data has a na column

Index(['Age'], dtype='object')

In [19]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
# it fill the NA with the mean value

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,targets,test_size=0.3)

In [21]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [22]:
model.fit(X_train,y_train)

GaussianNB()

In [24]:
model.score(X_test, y_test)

0.8097014925373134

In [25]:
model.predict(X_test[0:10])

array([1, 0, 0, 0, 0, 1, 0, 1, 1, 1])

In [27]:
model.predict_proba(X_test[:10])
# so here 0.97 is save probabilty, 0.02 is the dying probability

array([[0.02597847, 0.97402153],
       [0.96588333, 0.03411667],
       [0.98355168, 0.01644832],
       [0.98570524, 0.01429476],
       [0.96633901, 0.03366099],
       [0.03333489, 0.96666511],
       [0.98597609, 0.01402391],
       [0.07810661, 0.92189339],
       [0.07098144, 0.92901856],
       [0.00144617, 0.99855383]])