In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("salaries.csv")
df.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [4]:
df.head(10)

      company                  job     degree  salary_more_then_100k
0      google      sales executive  bachelors                      0
1      google      sales executive    masters                      0
2      google     business manager  bachelors                      1
3      google     business manager    masters                      1
4      google  computer programmer  bachelors                      0
5      google  computer programmer    masters                      1
6  abc pharma      sales executive    masters                      0
7  abc pharma  computer programmer  bachelors                      0
8  abc pharma     business manager  bachelors                      0
9  abc pharma     business manager    masters                      1

In [5]:
# independent
inputs = df.drop('salary_more_then_100k',axis='columns')

In [6]:
# target 
target = df['salary_more_then_100k']

In [7]:
# as machine can't work with labels, it always works with number we have to use label encoder
from sklearn.preprocessing import LabelEncoder

# 3 column > company, job, degree
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [8]:
# encode them
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [10]:
inputs.head(3)
# so we have to drop the company, job , degree column now.

  company               job     degree  company_n  job_n  degree_n
0  google   sales executive  bachelors          2      2         0
1  google   sales executive    masters          2      2         1
2  google  business manager  bachelors          2      0         0

In [12]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n.head(3)

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0

**Now you can use your model as your data is ready**

In [13]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

**Feed / train the data**

In [14]:
model.fit(inputs_n, target) # (indpendent variable, dependent variable)

DecisionTreeClassifier()

**Score/ accuracy of the model**

In [15]:
model.score(inputs_n,target)

1.0

**predict**

In [16]:
inputs['company'].value_counts()

google        6
facebook      6
abc pharma    4
Name: company, dtype: int64

In [18]:
inputs['company_n'].value_counts()

2    6
1    6
0    4
Name: company_n, dtype: int64

So from above you can see, now we cant say google to our model, as they dont understand it, so we are using numeric data to let them know.\
**2 = google** \
**1 = facebook** \
**0 = abcPharma**

***Same manner***

 Relation between job and job_n

In [20]:
inputs['job'].value_counts()

business manager       6
sales executive        5
computer programmer    5
Name: job, dtype: int64

In [21]:
inputs['job_n'].value_counts()

0    6
2    5
1    5
Name: job_n, dtype: int64

Relation between degree and degree_n

In [22]:
inputs['degree'].value_counts()

bachelors    8
masters      8
Name: degree, dtype: int64

In [23]:
inputs['degree_n'].value_counts()

0    8
1    8
Name: degree_n, dtype: int64

**Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?**

In [26]:
# google = 2 , bachelor degree = 0, computer programer = 1
print(model.predict([[2,1,0]]))
# 0 means no / 1 means yes

[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

**Is salary of Google, Computer Engineer, Masters degree > 100 k ?**

In [28]:
print(model.predict([[2,1,1]]))

[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"