**Nominal :** they dont have any numeric order in between them. For example, red, green , blue. You cant order them in any form \
Whereas in **Ordinal** \
you can do that. For example, bachelor, phd, master. You can order them. Like bachelor > master > phd.

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('/content/homeprices.csv')
df.head(3)

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000

In [18]:
dummies = pd.get_dummies(df.town) # based on the common entity in the town

In [17]:
merged = pd.concat([df, dummies], axis = 'columns' )
merged.head(3)

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0

we have to drop the town column here because our linear regression model won't work with it. We also have to drop one of the dummy variable column. Beacuse of dummy variable trap (didn't understood what it is actually, look in internet), hence you have to drop the dummy variable column.

In [19]:
# drop
final = merged.drop(['town', 'west windsor'], axis = 'columns')
final.head(3)

   area   price  monroe township  robinsville
0  2600  550000                1            0
1  3000  565000                1            0
2  3200  610000                1            0

In [22]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression() # creating an object

In [26]:
# we have to drop the dependent variable, for this case price is the dependent variable/
x = final.drop('price',axis='columns')
x.head(3)

   area  monroe township  robinsville
0  2600                1            0
1  3000                1            0
2  3200                1            0

In [27]:
y = final.price
y.head(3)

0    550000
1    565000
2    610000
Name: price, dtype: int64

**Feeding data**

In [29]:
model.fit(x,y)

LinearRegression()

**prediction**

In [30]:
print(model.predict([[2800,1,0]]))

[565089.22812299]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

**to see the accuracy**

In [31]:
model.score(x,y)

0.9573929037221873