Naive assumption that features such as male, class age,cabinfare etc are independent of each other.

In [1]:
import pandas as pd
df = pd.read_csv("/content/spam.csv")
df.head(3)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [6]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
# as machiene dont understand string, we hae to change it to number
dummies = pd.get_dummies(df.Category)
dummies.head(3)

# you can use this

   ham  spam
0    1     0
1    1     0
2    0     1

In [8]:
# also you can use this
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam, test_size= 0.25)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

Multinominal naive bayes : Its is used when we have  dicrete data(movie ratings ranging1 and 5 as each rataing will have certain frquency to represtn). In text learning we have the count of each word to prdice the class or label

In [11]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

Check time

In [12]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
]
emails_count = v.transform(emails)
model.predict(emails_count)

# 0 means not spam, 1 means spam

array([0])

In [13]:
emails = [
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)
# 0 means not spam, 1 means spam

array([1])

Accuracy

In [14]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9842067480258435